.menu {
    position: relative;
    height: 50px;
    z-index: 1;

    @media (max-width: 991px) {
        background-color: $text-dark;
    }

    &__wrapper {
        display: flex;
    }

    &__logo {
        a {
            text-decoration: none;
        }
    }

    &__logo-link {
    }

    &__list-container {
        @media (max-width: 991px) {
            position: absolute;
            background-color: $text-dark;
            top: 25px;
            left: 0;
            width: 100%;
            z-index: -1;
        }
    }

    &__list {
    }

    &__link {
    }

    &__login {
        margin-left: auto;
        margin-right: 0;
        @media (max-width: 991px) {
            display: none;
        }
    }

    &__login-link {
    }

    &__btn {
        @media (max-width: 991px) {
            display: none;
        }
    }

    &__icon {
        display: none;
        width: 24px;
        height: 24px;
        cursor: pointer;

        &_search {
            margin-left: auto;
            margin-right: 0;
        }

        @media (max-width: 991px) {
            display: block;
        }
    }

    &__burger {
        display: none;
        margin-left: auto;
        margin-right: 0;
    }
}
