.contact {
    padding: 90px 0;
    background-image: url(../img/bg/contact-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 991px) {
        padding: 115px 28px 113px 28px;
    }

    &__label {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px / 16px * 100%;
        letter-spacing: 0.1px;
        color: $dark-color;
    }

    &__title {
        margin-top: 0;
        text-align: left;
        color: $dark-color;

        @media (max-width: 991px) {
            padding: 0;
        }
    }

    &__form {
        margin-top: 40px;
        max-width: 600px;

        @media (max-width: 991px) {
            max-width: 100%;
        }
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    * {
        color: $gray-color;
        font-size: 14px;
        line-height: 28px / 14px * 100%;
        letter-spacing: 0.2px;
    }

    &__select-wrapper,
    &__input-wrapper {
        width: 290px;
        height: 50px;
        margin-bottom: 20px;

        @media (max-width: 991px) {
            width: 100%;
        }
    }

    &__input,
    &__textarea,
    &__select {
        width: 100%;
        height: 100%;
        padding: 0 20px 0 20px;
        background: #f9f9f9;
        border: 1px solid #e6e6e6;
        box-sizing: border-box;
        border-radius: 5px;
    }

    &__input::placeholder,
    &__textarea::placeholder {
        color: $state-muted;
    }

    &__select-wrapper {
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            display: block;
            background-color: $dark-color;
            width: 8px;
            height: 2px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 1px;
            transition: transform $transition-base;
        }

        &::before {
            right: 15px;
            transform: rotate(45deg);
        }
        &::after {
            right: 10px;
            transform: rotate(-45deg);
        }

        &-focus {
            &::before {
                transform: rotate(-45deg);
            }
            &::after {
                transform: rotate(45deg);
            }
        }
    }

    &__select {
        appearance: none;

        &_muted {
            color: $state-muted;
        }
    }

    &__textarea-wrapper {
        width: 100%;
        height: 140px;
        margin-bottom: 20px;
    }

    &__textarea {
        height: 100%;
        padding-top: 16px;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px / 14px * 100%;
        letter-spacing: 0.2px;
        color: $gray-color;
    }

    &__btn {
        position: relative;
        margin-top: 20px;
        color: $white-color;
        transition: padding-right $transition-base 0.2s;

        &::after {
            content: url(../img/icons/icon-email-form.svg);
            position: absolute;
            display: block;
            top: 50%;
            right: 17px;
            transform: translateY(-35%);
            width: 22px;
            margin-left: 20px;
            opacity: 0;
            transition: opacity $transition-base;
        }

        @media (max-width: 991px) {
            width: 100%;
            text-align: center;

            &::after {
                display: none;
            }
        }

        @include hover-desktop(991) {
            padding-right: 55px;
            transition-delay: 0s;

            &::after {
                opacity: 1;
                transition-delay: 0.2s;
            }
        }
    }
}
