.contact {
    padding: 90px 0;
    background-image: url(../img/bg/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__label {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: $text-dark;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: $text-dark;
    }

    &__form {
        max-width: 600px;
        margin-top: 40px;

        .form__btn {
            padding: 15px 40px;
        }
    }
}
