.footer {
    background: #fafafa;

    &__top {
        padding: 40px 0;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: $text-dark;
    }

    &__text {
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $text-medium;
    }

    &__btn {
        display: block;
        width: 170px;
        margin: 0 auto;
        padding: 15px 40px;
    }

    &__main {
        padding: 50px 0;
        background: $text-dark;
    }

    &__menu-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        margin-bottom: 20px;
    }

    &__menu {
        padding: 0;
        list-style-type: none;
    }

    &__menu-item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &_tel {
            margin-bottom: 20px;
            position: relative;
            padding-left: 33px;
            &::before {
                content: url(../img/icons/icon-phone.svg);
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        &_addres {
            margin-bottom: 20px;
            position: relative;
            padding-left: 33px;
            &::before {
                content: url(../img/icons/icon-map.svg);
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        &_mail {
            position: relative;
            padding-left: 33px;
            &::before {
                content: url(../img/icons/icon-mail.svg);
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}
