.pricing {
    padding: 112px 0;
    background-color: $text-dark;

    &__items {
        margin: 106px auto 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1045px;
    }
}

.pricing-card {
    position: relative;
    width: 327px;
    margin-bottom: 30px;
    padding: 50px 40px;
    background: $white;
    border: 1px solid #dedede;
    border-radius: 10px;

    &_new {
        &::before {
            content: "New";
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 90px;
            top: -26px;
            right: 16.5px;
            border-radius: 50%;
            background-color: $action-alert;
            font-weight: 700;
            font-size: 24px;
            letter-spacing: 0.1px;
        }
    }

    &__label {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        text-align: center;
        color: $text-dark;
    }

    &__descr {
        margin-top: 35px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.1px;
        color: $text-medium;
    }

    &__price {
        margin-top: 35px;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        text-align: center;
        color: $primary-color;
        &::after {
            content: "$";
        }
    }

    &__price-period {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: center;
        color: $state-disabled-element;
    }

    &__btn {
        margin-top: 35px;
        padding: 15px 0;
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }

    &__list {
        margin-top: 35px;
        margin-bottom: 0;
        list-style-type: none;
        padding: 0;
    }

    &__list-item {
        margin-bottom: 15px;
        display: flex;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: $text-dark;

        &:last-child {
            margin-bottom: 0px;
        }

        &::before {
            content: url(../img/icons/icon-mark.svg);
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            background-color: $state-muted;
        }

        &_included {
            &::before {
                background-color: $action-success;
            }
        }
    }
}
