.testimonials {
    padding: 112px 0 145px 0;
    background-color: $state-disabled-element;

    // &__title {
    // }

    &__descr {
        margin-bottom: 120px;
    }

    &__item {
        position: relative;
        margin: 0 30px 0 45px;
        padding: 30px 40px;
        background-color: $white;

        @media (max-width: 991px) {
            margin-bottom: 30px;
            margin-right: 0;
        }
    }

    &__user-picture {
        position: absolute;
        top: 28px;
        left: -47px;
        width: 72px;
        height: 72px;
        border-radius: 50%;
    }

    &__user-name {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: $text-dark;
    }

    &__user-specialty {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $text-medium;
    }

    &__user-rating {
        margin-top: 15px;
    }

    &__user-review {
        margin-top: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $text-medium;
    }
}
